In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
from datetime import date, timedelta

In [4]:
start_date,end_date = date(2020, 12, 1), date(2022,12,1)

In [5]:
date_range = pd.date_range(start_date,end_date - timedelta(days = 1), freq="d")

In [29]:
rate = {"Satisfaction of Company": [1,2,3,4,5,6,7,8,9,10]}

In [30]:
df = pd.DataFrame(rate)

In [31]:
df.loc[df["Satisfaction of Company"] <= 5, "Below satisfied"] = "Yes-0"
df.loc[df["Satisfaction of Company"] > 5, "Satisfied"] = "Yes-1"

In [32]:
print(df)

   Satisfaction of Company Below satisfied Satisfied
0                        1           Yes-0       NaN
1                        2           Yes-0       NaN
2                        3           Yes-0       NaN
3                        4           Yes-0       NaN
4                        5           Yes-0       NaN
5                        6             NaN     Yes-1
6                        7             NaN     Yes-1
7                        8             NaN     Yes-1
8                        9             NaN     Yes-1
9                       10             NaN     Yes-1

In [33]:
mean = df["Satisfaction of Company"].sum()

In [34]:
mean/10

5.5

In [35]:
results = {"Satisfaction of Company Results": [0,1,1,0,1,0,1,0,1,1]}

In [36]:
data = pd.DataFrame(results)

In [37]:
data.loc[data["Satisfaction of Company Results"] == 1, "Result"] = "Satisfied"

In [38]:
data.loc[data["Satisfaction of Company Results"] == 0, "Result"] = "Below Satisfied"

In [39]:
print(data)

   Satisfaction of Company Results           Result
0                                0  Below Satisfied
1                                1        Satisfied
2                                1        Satisfied
3                                0  Below Satisfied
4                                1        Satisfied
5                                0  Below Satisfied
6                                1        Satisfied
7                                0  Below Satisfied
8                                1        Satisfied
9                                1        Satisfied

In [40]:
median = data.iloc[4]

In [41]:
print(median)

Satisfaction of Company Results            1
Result                             Satisfied
Name: 4, dtype: object

In [42]:
data.loc[data["Satisfaction of Company Results"] == 1]

   Satisfaction of Company Results     Result
1                                1  Satisfied
2                                1  Satisfied
4                                1  Satisfied
6                                1  Satisfied
8                                1  Satisfied
9                                1  Satisfied

In [43]:
mode_display = {"Mode": [1,1,1,1,1,1]}

In [44]:
mode = pd.DataFrame(mode_display)

In [45]:
print(mode.count())

Mode    6
dtype: int64

In [23]:
df1 = pd.DataFrame
(
    {
      "emp_fname": ["John", "Suzie", "Mary", "Bob", "Tyler"],
      "emp_lname": ["Smith", "Anderson", "Stewart", "Myers","Frederick"],
      "emp_title": ["Computer Engineer", "Architect", "Musician", "Lawyer", "Doctor"],
      "emp_salary": ["100,000", "90,000", "40,000", "80,000", "200,000"], 
      "emp_dates": date_range
      
      
       }

)

{'emp_fname': ['John', 'Suzie', 'Mary', 'Bob', 'Tyler'],
 'emp_lname': ['Smith', 'Anderson', 'Stewart', 'Myers', 'Frederick'],
 'emp_title': ['Computer Engineer',
  'Architect',
  'Musician',
  'Lawyer',
  'Doctor'],
 'emp_salary': ['100,000', '90,000', '40,000', '80,000', '200,000'],
 'emp_dates': DatetimeIndex(['2020-12-01', '2020-12-02', '2020-12-03', '2020-12-04',
                '2020-12-05', '2020-12-06', '2020-12-07', '2020-12-08',
                '2020-12-09', '2020-12-10',
                ...
                '2022-11-21', '2022-11-22', '2022-11-23', '2022-11-24',
                '2022-11-25', '2022-11-26', '2022-11-27', '2022-11-28',
                '2022-11-29', '2022-11-30'],
               dtype='datetime64[ns]', length=730, freq='D')}

In [24]:
df2 = pd.DataFrame
(
{
    "emp_fname2": ["Mary", "Lily", "Chad", "Georgia","Tom"], 
    "emp_lname2": ["Daniels", "Adams", "Johnson", "Williams","Green"], 
    "emp_title2": ["Business Manager", "Sales", "Marketing Assistant", "Artist","Journalist"],
    "emp_salary2": ["60,000", "50,000", "55,000", "65,000","70,000"], 
    "emp_dates2": date_range,
    
}
    
)

{'emp_fname2': ['Mary', 'Lily', 'Chad', 'Georgia', 'Tom'],
 'emp_lname2': ['Daniels', 'Adams', 'Johnson', 'Williams', 'Green'],
 'emp_title2': ['Business Manager',
  'Sales',
  'Marketing Assistant',
  'Artist',
  'Journalist'],
 'emp_salary2': ['60,000', '50,000', '55,000', '65,000', '70,000'],
 'emp_dates2': DatetimeIndex(['2020-12-01', '2020-12-02', '2020-12-03', '2020-12-04',
                '2020-12-05', '2020-12-06', '2020-12-07', '2020-12-08',
                '2020-12-09', '2020-12-10',
                ...
                '2022-11-21', '2022-11-22', '2022-11-23', '2022-11-24',
                '2022-11-25', '2022-11-26', '2022-11-27', '2022-11-28',
                '2022-11-29', '2022-11-30'],
               dtype='datetime64[ns]', length=730, freq='D')}